* {
  margin: 0;
}

.app {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* background-image: url("/src/images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: linear-gradient(45deg, #4bb0b6, #6518b4);
}
