.contact {
  height: calc(100vh - 90px);
  width: 100vw;
  max-height: calc(100vh - 90px);
}

.diagonal-box {
  background-image: linear-gradient(45deg, #6303b1, #ff0099);
  transform: skewY(-11deg);

  border: 2px solid #111;
}
.content {
  max-width: 50em;
  margin: 0 auto;
  position: relative;
  height: 80vh;
}

.content__box {
  height: 100px;
  width: 100px;
  background: white;
}

.content > h1 {
  font-size: 100px;
  text-shadow: 4px 4px white;
  justify-content: center;
  align-content: center;
  display: flex;
  padding-top: 150px;
}

.diagonal-box:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  transform: skewY(-11deg);
}

.banner--fadeTop {
  height: 3.4rem;
  background-image: linear-gradient(
    360deg,
    transparent,
    rgba(26, 24, 30, 1),
    #111
  );
}

.banner--fadeBottom {
  bottom: 0;
  height: 3.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(26, 24, 30, 1),
    #111
  );
}
