.logo {
  height: 80px;
  transition-timing-function: ease-in-out;
  transition: transform 1.2s;
}

.logo:hover {
  transform: scale(1.03);
}

.navbar {
  background: transparent !important;
  z-index: 10;
}

.navbar-toggler {
  background-color: white !important;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  margin-left: 100px;
  transition-timing-function: ease-in-out;
  transition: transform 1.2s;
}

.nav-link:hover {
  transform: scale(1.5);
}
