.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/src/images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home__container {
  height: calc(100vh - 90px);
  width: 100vw;
  display: flex;
}

.home__left {
  flex: 0.3;
}

.home__right {
  flex: 0.7;
}

.home__right__container {
  justify-content: center;
  margin-top: 25%;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px 30px lightgray;
  box-shadow: 0px 0px 50px 30px lightgray;
  color: white;
  backdrop-filter: blur(10px);
  line-height: 200%;
  font-size: 16px;
  text-shadow: 2px 2px black;
}

.home__right__container:hover {
  -webkit-box-shadow: 0px 0px 50px 30px white;
  box-shadow: 0px 0px 50px 30px white;
  transition: transform 2s;
}

.home__right__container > h1 {
  display: flex;
  font-size: 32px;
  text-shadow: 2px 2px black;
}

.home__name {
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.home__name > h1 {
  display: flex;
  font-size: 100px;
  text-shadow: 5px 5px black;
  color: white;
}

/*
.home__slide {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

 .slide__container {
  height: 400px;
  width: 800px;
  background: gray;
  display: flex;
  margin-top: 300px;
  border: 1px solid black;
}

.carousel {
  width: 100vw;
}

.slide__container > h3 {
  color: black;
  padding: 20px;
}

.carousel-control-next {
  background-color: lightgray !important;
  width: 100px;
  margin-right: 50px;
  height: 100px;
  margin-top: 100px;
}

.carousel-control-prev {
  display: none;
} */
/* 
.home__image {
  width: 100%;
  z-index: 2;
  margin-bottom: -650px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */
