.projects {
  height: calc(100vh - 90px);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* background-repeat: no-repeat;
  background-size: cover;background-image: url("./images/keyboard.jpg"); */
}

.projects__container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.projects__right {
  position: absolute;
  border: 1px solid red;
}

.about__text2 {
  color: White;
  text-shadow: 3px 3px black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.projects__left {
  flex: 0.3;
}

.projects__right {
  flex: 0.7;
  display: flex;
  justify-content: space-evenly;
}

.projects__name {
  justify-content: center;
  display: flex;
}

.projects__name > h1 {
  display: flex;
  font-size: 100px;
  text-shadow: 2px 2px #ffffff;
}

.projects__row {
  justify-content: space-evenly;
}

.projects__card {
  margin: 20px;
}
