.projects {
  height: calc(100vh - 90px);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* background-repeat: no-repeat;
  background-size: cover;background-image: url("./images/keyboard.jpg"); */
}

.projects__container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.projects__right {
  position: absolute;
  border: 1px solid red;
}

.about__text2 {
  color: White;
  text-shadow: 3px 3px black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.projects__left {
  flex: 0.3;
}

.projects__right {
  flex: 0.7;
  display: flex;
  justify-content: space-evenly;
}

.projects__name {
  justify-content: center;
  display: flex;
}

.projects__name > h1 {
  display: flex;
  font-size: 100px;
  text-shadow: 2px 2px #ffffff;
}

.projects__row {
  justify-content: space-evenly;
}

.projects__card {
  margin: 20px;
}

.right {
  position: absolute;
  top: 35%;
  right: 0;
  width: 15%;
  margin-right: 60px;

  justify-content: center;
}

.right > h1 {
  text-shadow: 3px 3px black;
  justify-content: center;
  align-content: center;
  display: flex;
  color: white;
  font-weight: 800;
  transform: skewY(-6deg);
}

.right > h5 {
  text-shadow: 3px 3px black;
  justify-content: center;
  align-content: center;
  display: flex;
  color: white;
  padding-bottom: 20px;
  transform: skewY(-4deg);
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: transform 0.5s;
}

.right > h5:hover {
  transform: scale(1.3);
  opacity: 0.9;
}

hr {
  background: white;
}
